@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Loader Styles */
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

.loader-wrapper {
    z-index: 999;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
  }

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}
/* End Loader Styles */

/* Default Page Styles */
html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}


/* Start Nav Styles */
.nav {
    z-index: 4;
    position: fixed;
    width: 100%;
    text-align: center;
    height: 8vh;
    background-color: #2E3047;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    /* border-bottom: 1px solid #3BBA9C; */
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

.cineplexIcon {
    text-decoration: none;
    cursor: pointer;
}

.nav h1 {
    font-size: 30px;
    color: #3BBA9C;
}

.searchContainer {
    height: 2rem;
    width: 400px;
}

.searchBox {
    display: none;
}

#search {
    display: none;
}

.btn {
    position: absolute;
    color: #43455C;
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: -45px;
    height: inherit;
    width: 40px;
    font-size: 1rem;
    padding: auto;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    transition: color .3s;
}

.btn:hover {
    color: #3BBA9C;
}

.homeSearchBox {
    height: inherit;
    width: inherit;
    padding: .375rem 1.2rem;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .5px;
    outline: none;
    color: #707793;
    background-color: transparent;
    border: 2px solid #43455C;
    border-radius: 40px;
}

.homeSearchBox::placeholder {
    color: #43455C;
}
/* End Nav Styles */

/* Container Styles */
.container {
    padding-top: 8vh;
}

.fa-chevron-left, .fa-chevron-right {
    transition: color .2s;
}

.fa-chevron-left:hover {
    color: white;
}

.fa-chevron-right:hover {
    color: white;
}

/* Start Backdrop Styles */
.backdropContainer {
    width: 100%;
    height: 92vh;
    position: relative;
    overflow: hidden;
}

.backdropContainer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0, 0, 0, 1));
}

.backdropContainer .backdrop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: auto;
    height: 100vh;
    min-width: 100vw;
}

/* Slider Styles */
.movie-slider {
    width: 100%;
    height: 92vh;
    overflow: hidden;
}

.movie {
    width: 100%;
    height: 92vh;
    display: inline-block;
}

.next {
    z-index: 3;
    position: absolute;
    top: 50%;
    right: 35px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 2em;
    cursor: pointer;
}

.prev {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 35px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 2em;
    cursor: pointer;
}

/* Movie Poster and Info Styles */
.movieInfoContainer {
    position: absolute;
    z-index: 2;
    bottom: 15%;
    left: 10%;
    height: 250px;
    width: auto;
    display: flex;
    color: #fff;
}

.poster {
    width: auto;
    height: 250px;
    border-radius: 10px;
}

.movieInfo {
    width: 300px;
    height: 250px;
}

.movieInfo span {
    position: absolute;
    bottom: 0;
    left: 190px;
}

.rating, .genre, .release {
    padding-bottom: 10px;
}

.genre {
    color: #707793;
}

.release {
    color: #43455C;
}
/* End Backdrop Styles */

/* Start Discover Movies Styles */
.discoverMovies {
    height: auto;
    background: linear-gradient(165deg, #54556A 0%, #43455C 45%);
    border-top: 2px solid #3BBA9C;
    border-bottom: 2px solid #3BBA9C;
}

.movieThumbnail {
    display: inline-block;
    position: relative;
    vertical-align: top;
    filter: brightness(70%);
    width: 166px;
    height: 350px;
    margin: 10px 14px;
    transition: all .2s;
}

.movieThumbnail:focus {
    outline: 0;
    transform: scale(1.02);
    filter: brightness(100%);
}

.movieThumbnail:hover {
    transform: scale(1.02);
    filter: brightness(100%);
}

.thumbInfo {
    width: 160px;
}

.discoverableMovies {
    border-style: solid;
    border-image: linear-gradient(to left, rgba(0, 0, 0, 0) 20%, rgb(165, 165, 165) 50%, rgba(0, 0, 0, 0) 80%) 
                0 0 100% 0/0 0 2px 0 stretch;
}

.upcoming {
    position: relative;
    /* border: 1px solid red; */
    margin-top: 100px;
    margin-bottom: 75px;
    width: 100%;
    color: white;
}

.upcoming h1 {
    width: 82%;
    text-align: left;
    margin: 0 auto;
    padding-bottom: 15px;
}

.upcoming-slider {
    width: 84%;
    margin: 0 auto;
    overflow: hidden;
    height: 350px;
}

.thumbPoster {
    width: 165px;
    border-radius: 5px;
    cursor: pointer;
}

.poster {
    cursor: pointer;
}

.thumbRating {
    position: absolute;
    top: 15px;
    background: rgba(0, 0, 0, .5);
    padding-left: 5px;
    line-height: 25px;
    height: 25px;
    width: 60px;
}

.thumbTitle {
    font-size: 1em;
}

.thumbGenre {
    font-size: .8em;
    color: rgb(190, 190, 190);
}

.upcomingNext {
    z-index: 3;
    position: absolute;
    top: 50%;
    right: 35px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 2em;
    cursor: pointer;
}

.upcomingPrev {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 35px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 2em;
    cursor: pointer;
}

/* Popular Styles */
.popular {
    position: relative;
    /* border: 1px solid red; */
    margin-top: 75px;
    margin-bottom: 75px;
    width: 100%;
    color: white;
}

.popular h1 {
    width: 82%;
    text-align: left;
    margin: 0 auto;
    padding-bottom: 15px;
}

.popular-slider {
    width: 84%;
    margin: 0 auto;
    overflow: hidden;
    height: 350px;
}

.popularNext {
    z-index: 3;
    position: absolute;
    top: 50%;
    right: 35px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 2em;
    cursor: pointer;
}

.popularPrev {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 35px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 2em;
    cursor: pointer;
}


/* topRated Styles */
.topRated {
    position: relative;
    /* border: 1px solid red; */
    margin-bottom: 100px;
    margin-top: 75px;
    width: 100%;
    color: white;
}

.topRated h1 {
    width: 82%;
    text-align: left;
    margin: 0 auto;
    padding-bottom: 15px;
}

.topRated-slider {
    width: 84%;
    margin: 0 auto;
    overflow: hidden;
    height: 350px;
}

.topRatedNext {
    z-index: 3;
    position: absolute;
    top: 50%;
    right: 35px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 2em;
    cursor: pointer;
}

.topRatedPrev {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 35px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 2em;
    cursor: pointer;
}

/* End Discover Movies Styles */

/* Start Footer Styles */
/* footer a {
    color: #707793;
}

footer {
    background-color: #2E3047;
    color: #707793;
} */

footer {
    height: auto;
    background-color: #2E3047;
    color: #707793;
}

footer img {
    width: 110px;
    height: auto;
}

.footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: inherit;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 10%;
  }
  
  .copyright {
    margin-right: auto;
    color: inherit;
  }

  .tmdb {
      margin-right: auto;
  }
  
  .socials a {
    margin: 0px 20px;
    color: inherit;
  }
  
  .socials a:hover {
    color: #3BBA9C;
  }
  
  .socials a i {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .top {
    margin-left: 20px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  
.top a {
    color: inherit;
}

  .top a i {
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    line-height: 26px;
    font-size: 24px;
  }
  
  .top a:hover {
    color: #3BBA9C;
  }

/* End Footer Styles */